.container {
    display: flex;
    align-items: center;
}
.poster {
    margin-right: 32px;
}
.posterImg {
    width: 150px;
    border-radius: 10px;
}
.title {
    font-size: 16px;
}
.genres {
    display: flex;
    align-items: center;
}
.genre {
    font-size: 12px;
}
.genre span {
    margin:0 4px;
    font-weight: 600;
}
.description {
    font-size: 16px;
    font-weight:400;
    margin:16px 0;
    margin-bottom: 10px;
    text-align: justify;
}
.subtitle {
    margin-bottom: 10px;
}


@media screen and (min-width:768px) {
    .title {
        font-size: 32px;
    }
    .subtitle {
        font-size: 12px;
    }
}