.container {
    display: flex;
    align-items: center;
}
.poster {
    margin-right: 32px;
}
.posterImg {
    width: 150px;
    border-radius: 10px;
}
.title {
    font-size: 32px;
}
.genres {
    display: flex;
    align-items: center;
}
.genre {
    font-size: 12px;
}
.genre span {
    margin:0 4px;
    font-weight: 600;
}
.description {
    font-size: 16px;
    font-weight:400;
    margin:16px 0;
    margin-bottom: 10px;
    text-align: justify;
}
.subtitle {
    margin-bottom: 10px;
}
.casts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cast {
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    padding:6px 16px;
    border-radius: 24px;
    margin-right: 16px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width:567px) {
    .title {
        font-size: 16px;
        background-color: green;
    }
    .subtitle {
        font-size: 12px;
    }
}